body {
    background-color: #1d1c1d;
    color: ivory;
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;  
}

#calculator {
    display: grid;
    width: 320px;
    height: 500px;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}

#display {
    background-color: ivory;
    height: 85px;
    margin-top: auto;
    padding-right: 5%;
    color: black;
    text-align: right;
    border-radius: 10px 10px 0 0;
    font-size: 200%;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    background-color: #272627;
}

.buttons:hover {
    cursor: pointer;
}

.button:active {
    background-color: #504e50;
    cursor: pointer;
}

.yellowButton {
    background-color: rgb(224, 212, 42);
    color: black;
}

.yellowButton:active {
    background-color: rgb(180, 172, 50);
    cursor: pointer;
}

#clear {
    padding-top: 10%;
    background-color: rgb(216, 62, 62);
}

#clear:active {
    background-color: rgb(167, 73, 73);
}

#percentage {
    padding-top: 10%;
}

#divide {
    padding-top: 10%;
}

#multiply {
    font-size: x-large;
    padding-top: 15%;
}

#seven {
    padding-top: 15%;
}

#eight {
    padding-top: 15%;
}

#nine {
    padding-top: 15%;
}

#four {
    padding-top: 15%;
}

#five {
    padding-top: 15%;
}

#six {
    padding-top: 15%;
}

#one {
    padding-top: 15%;
}

#two {
    padding-top: 15%;
}

#three {
    padding-top: 15%;
}

#zero {
    border-radius: 0 0 0 10px;
    grid-column: span 2;
    padding-top: 10%;
}

#equal {
    padding-top: 45%;
    text-align: center;
    font-size: 160%;
    border-radius: 0 0 10px 0;
    grid-row: span 2;
}